<Files "game3.html">
    AuthType Basic
    AuthName "restricted area"
    AuthUserFile /assets/.htpasswd
    Require valid-user
</Files>

AddType text/css .css
AddType application/javascript .js


ErrorDocument 404/405.html

