RewriteEngine On

<DirectoryMatch "^.">
  Order allow,deny
  Allow from all
</DirectoryMatch>

RewriteCond %{REQUEST_URI} "^/\.well-known/"
RewriteRule .* - [L]

RewriteRule ^\.well-known/discord$ /wellknown/discord [L]

AddType text/css .css
AddType application/javascript .js


ErrorDocument 404/404.html

